/* --------------------------------Estilos generales-------------------------------------------------- */

body {
    background-color: rgb(238, 233, 226);
}
header{
    background-image: url(../medios/background.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 50px;
    height: 68vh;

/* -------------------------------Estilos para la barra de navegación---------------------------------- */    

    nav {
        position: relative;
        bottom: 30px;
        padding: 1px;
        text-align: right;
        font-family: monotype corsiva;
        font-size: 2em;
    }
    
    nav ul {
        display: inline-flex;
        margin: 10px; 
        padding: 10px;
        list-style: none;
        gap: 20px;
        text-shadow: #b36093 2px 2px 2px;  
        text-transform: uppercase;
    }
    .navbar a {
        text-decoration: none;
        position: relative;
        bottom: 30px;
    }


}    
    
/* ---------------------------Estilos para el contenido principal------------------------------------- */

main {

    h1 {
        font-family: monotype corsiva;
        font-size: 5em;
        color: #333;
        text-shadow: #df90c7 2px 2px 2px;
    }
 
    
    h2 {
        font-family: monotype corsiva;
        font-size: 3em;
        color: #444;
        text-shadow: #df90c7 2px 2px 2px;
    }

    h3 {
        font-family: monotype corsiva;
        font-size: 3em;
        color: #555;
        text-shadow: #df90c7 2px 2px 2px;
    }

    h4 {
        font-family: monotype corsiva;
        font-size: 3em;
        color: #555;
        text-shadow: #df90c7 2px 2px 2px;
    }

    h5 {
        font-family: monotype corsiva;
        font-size: 3em;
        color: #555;
        text-shadow: #df90c7 2px 2px 2px;
    }

    h6 {
        font-family: monotype corsiva;
        font-size: 3em;
        color: #555;
        text-shadow: #df90c7 2px 2px 2px;
    }
    
    .primer-titulo {
        text-align: center;
    }

    .segundo-titulo {
        text-align: center;
    }

    .tercer-titulo {
        text-align: center;
    }

    .cuarto-titulo {
        text-align: center;
    }
    
    p {
        font-family: monotype corsiva;
        font-size: 1.5em;
        color: #666;     
    }  
    

    .bienvenida-pagina {
        text-align: center;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        font-family: monotype corsiva;
        font-size: 1.5em;
        color: #666;     
        margin: 20px auto;
        max-width: 800px;
    }
    .rubro-pagina {
        text-align: center;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        font-family: monotype corsiva;
        font-size: 1.5em;
        color: #666;     
        margin: 20px auto;
        max-width: 800px;
    }

    .explicacion-titulo {
        text-align: center;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        font-family: monotype corsiva;
        font-size: 1.5em;
        color: #666;     
        margin: 20px auto;
        max-width: 800px;
    }

    .lista-servicios { 
        position: relative;
        left: 200px;
        font-family: monotype corsiva;
        list-style-position: inside;
        font-size: 1.5em;
        color: #666;     
        margin: 20px auto;
        max-width: 800px;
    }
    
    img {
        width: 50%;
        height: 50%;
        margin: 2px;
    }

/* ------------------------------------Estilos para Grid----------------------------------------------*/
/*-------------Página de tratamientos----------------------------*/

    .contenedor {
        display: grid;
        grid-template-areas: 
            "titulo titulo titulo"
            "foto1  foto2  texto1"
            "foto1  foto2  foto3"
            "titulo2 titulo2 titulo2"
            "texto2  texto2  texto2"
            "lista1 lista1 lista1"
            "titulo3 titulo3 titulo3"
            "foto4  texto3  texto3"
            "lista2 lista2 lista2"
            "titulo4 titulo4 titulo4"
            "foto5  texto4  texto4"
            "lista3 lista3 lista3"
            "titulo5 titulo5 titulo5"
            "foto6  texto6  texto6"
            "lista4 lista4 lista4"
            "titulo6 titulo6 titulo6"
            "texto7 texto7 texto7";

        grid-template-columns: 3fr 2fr 1fr;
        grid-template-rows: auto;
        gap: 22px;
        
        

    }
    .contenedor img {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        border: #6b395c 10px groove;
        border-radius: 50px;
        
        
             
    }
       
    .titulo {
        grid-area: titulo;
        text-align: center;
    }
    .titulo2 {
        grid-area: titulo2;
        text-align: center;
    }
    .titulo3 {
        grid-area: titulo3;
        text-align: center;
    }
    .titulo4 {
        grid-area: titulo4;
        text-align: center;
    }
    .titulo5 {
        grid-area: titulo5;
        text-align: center;
    }
    .titulo6 {
        grid-area: titulo6;
        text-align: center;
    }
    .foto1 {
        grid-area: foto1;
       
    }
    .foto2 {
        grid-area: foto2;
       
    }
    .foto3 {
        grid-area: foto3;
        
       
    }
    .foto4 {
        grid-area: foto4;
        
    }
    .foto5 {
        grid-area: foto5;
       
    }
    .foto6 {
        grid-area: foto6;
       
    }
    .texto1 {
        grid-area: texto1;
        font-family: monotype corsiva;      
    }
  
    
    .texto2 {
        grid-area: texto2;
        text-align: center;
        font-family: monotype corsiva;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        margin: 20px auto;
        max-width: 800px;
    }
    .texto3 {
        grid-area: texto3;
        text-align: center;
        font-family: monotype corsiva;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        margin: 20px auto;
        max-width: 800px;
        
    }
    .texto4 {
        grid-area: texto4;
        font-family: monotype corsiva;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        margin: 20px auto;
        max-width: 800px;
    }
    .texto5 {
        grid-area: texto5;
        font-family: monotype corsiva;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        margin: 20px auto;
        max-width: 800px;
    }
    .texto6 {
        grid-area: texto6;
        text-align: center;
        font-family: monotype corsiva;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        margin: 20px auto;
        max-width: 800px;
    }
    .texto7 {
        grid-area: texto7;
        text-align: center;
        font-family: monotype corsiva;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        margin: 20px auto;
        max-width: 800px;
    }
    .lista1 {
        grid-area: lista1;
        font-size: 1.5em;   
        font-family: monotype corsiva; 
        list-style: none; 
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        margin: 20px auto;
        max-width: 800px;
    }
    .lista2 {
        grid-area: lista2;
        font-size: 1.5em;   
        font-family: monotype corsiva;  
        list-style: none;
    }
    .lista3 {
        grid-area: lista3;
        font-size: 1.5em;   
        font-family: monotype corsiva;  
        list-style: none;
    }
    .lista4 {
        grid-area: lista4;
        font-size: 1.5em;   
        font-family: monotype corsiva;  
        list-style: none;
    }

   .color1 {
    color: yellow;
   }
   .color2 {
    color: green;
   }
   .color3 {
    color: blue;
   }
   .color4 {
    color: red;
   }

/*------------------Página Productos-----------------*/
   .contenedor2 {
        display: grid;
        grid-template-areas: 
            "titulop titulop titulop"
            "fotop textop textop"
            "fotop2 textop2 textop2"
            "fotop3 textop3 textop3"
            "fotop4 textop4 textop4";
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 22px;
    }
    .contenedor2 img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 80%;
        border: #6b395c 10px groove;
        border-radius: 50px;        
    }
    .titolop {
        grid-area: titulop;
        text-align: center;
    }
    .fotop {
        grid-area: foto;
    }
    .fotop2 {
        grid-area: fotop2;
    }
    .fotop3 {
        grid-area: fotop3;
    }
    .fotop4 {
        grid-area: fotop4;
    }
    .textop {
        grid-area: textop;
        text-align: center;
        font-family: monotype corsiva;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        margin: 20px auto;
        max-width: 800px;
           
    }
    .textop2 {
        grid-area: textop2;
        text-align: center;
        font-family: monotype corsiva;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        margin: 20px auto;
        max-width: 800px;
    }
    .textop3 {
        grid-area: textop3;
        text-align: center;
        font-family: monotype corsiva;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        margin: 20px auto;
        max-width: 800px;        
    }
    .textop4 {
        grid-area: textop4;
        font-family: monotype corsiva;
        margin-inline-start: 250px;
        margin-inline-end: 250px;
        margin: 20px auto;
        max-width: 800px;
    }
}      
/*--------------------------------------Media Queries--------------------------------------------------*/
/* Media queries para pantallas pequeñas */
@media only screen and (max-width:480px) {
    body {
        background-color: lightgoldenrodyellow;
        }
    header {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    nav {
        text-align: center;
        font-size: 1em;
    }
    .navbar a {
        font-size: x-large;
    }
   .lista-servicios {
        font-size: 1.2em;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
       
    }
    .bienvenida-pagina, .rubro-pagina, .explicacion-titulo {
        margin-inline-start: 20px;
        margin-inline-end: 20px;
        font-size: 1.2em;
    }
    img {
        width: 50%;
        height: auto;
    }
    main h1, main h2, main h3, main h4, main h5, main h6 {
        font-size: 1.5em;
    }

    .contenedor {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "titulo"
            "foto1"
            "foto2"
            "foto3"
            "texto1"
            "titulo2"
            "texto2"
            "lista1"
            "titulo3"
            "foto4"
            "texto3"
            "lista2"
            "titulo4"
            "foto5"
            "texto4"
            "lista3"
            "titulo5"
            "foto6"
            "texto6"
            "lista4"
            "titulo6"
            "texto7";
    }
    .contenedor img {
        width: 20% 30% 30% 30%;
        height: auto;
        border-radius: 20px;
    }
    .contenedor2 img {
        width: 20% 30% 30% 30%;
        height: auto;
        border-radius: 20px;
    }
    

}

/* Media queries para pantallas medianas */
@media only screen and (min-width:481px) and (max-width:978px) {
    body {
        background-color: lightblue;
    }
    header {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    nav {
        text-align: center;
        font-size: 1.5em;
    }
    .navbar a {
        font-size: large;
    }
    .lista-servicios {
        font-size: 1.5em;
        margin-inline-start: 20px;
        margin-inline-end: 20px;
    }
    .bienvenida-pagina, .rubro-pagina, .explicacion-titulo {
        margin-inline-start: 50px;
        margin-inline-end: 50px;
        font-size: 1.5em;
    }
    img {
        width: 70%;
        height: auto;
    }
    main h1, main h2, main h3, main h4, main h5, main h6 {
        font-size: 2em;
        
    }
    main h1 {
        text-align: center;
        margin-top: 200px;
    }
    .contenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "titulo titulo titulo"
            "foto1 foto2 texto1"
            "foto1 foto2 foto3"
            "titulo2 titulo2 titulo2"
            "texto2 texto2 texto2"
            "lista1 lista1 lista1"
            "titulo3 titulo3 titulo3"
            "foto4 texto3 texto3"
            "lista2 lista2 lista2"
            "titulo4 titulo4 titulo4"
            "foto5 texto4 texto4"
            "lista3 lista3 lista3"
            "titulo5 titulo5 titulo5"
            "foto6 texto6 texto6"
            "lista4 lista4 lista4"
            "titulo6 titulo6 titulo6"
            "texto7 texto7 texto7";
    }
    .contenedor img {
        width: 80%;
        height: auto;
        border-radius: 20px;
    }
    .contenedor2 {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "titulop"
            "fotop"
            "textop"
            "fotop2"
            "textop2"
            "fotop3"
            "textop3"
            "fotop4"
            "textop4";
    }
}
/* Media queries para pantallas grandes */
@media only screen and (min-width:979px) {
    body {
        background-color: rgb(238, 233, 226);
    }
}
/* -------------------------------------Estilos para el pie de página--------------------------------- */    
   

footer {
    background-image: url(../medios/footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;  
    font-family: monotype corsiva;
    font-size: 1.5em;  
}